.header {
    background: #191A1E;
    color: white;
    /* width: 1100px; */
    
    display: flex;
    justify-content: space-between;
    padding: 18px 27px;
}



.header-input {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 8px 15px;
    outline: none;
    border: none;
    width: 383px;
    font-size: 15px;
    border: 1px solid black;
    transition: 0.3s;
    cursor: pointer;
}

.header-input:hover{
    border: 1px solid #D2BA6C;
    color: #D2BA6C;
}

.header-avatar {
    padding: 10px;
    background: #C4C4C4;
    border-radius: 50%;
    width: 37px;
    height: 37px;

}

.header-account {
    cursor: pointer;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.header-span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
    padding-top: 8px;
    padding-left: 15px;
}

.header-form{
    position: relative;
}

.header-search{
    position: absolute;
    top: 40%;
    left: 94%;
    transform: translate(-50%,-50%);
    
    width: 16px;
    height: 16px;
}

.menu-btns{
    display: none;
}



.modal{
    position: relative;
    z-index: 1011111111111111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.close-btn{
    background-color: red;
    color: white;
    padding: 5px;
    width: 30px;
    height: 30px;
    font-size: 28px;
    
    position: absolute;
    transform: translate(-50%,-50%);
    top: 3.5%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 97.5%;
    cursor: pointer;
    border-radius: 50%;
}

.account-form{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
}

.account-input{
    width: 280px;
    padding: 5px 15px;
    font-size: 18px;
    
    outline: none;
    border-radius: 5px;
    border:1px solid black;
    transition: 0.3s;
}
.account-input:hover{
    border: 1px solid #D2BA6C;
    color: #D2BA6C;
}

.account-btn{
    background-color: #D2BA6C;
    padding: 5px 20px;
    width: 120px;
    border-radius: 5px;
    border: none;
    color: white;
    margin: 20px 0;
    font-size: 20px;
transition: 0.3s;
    text-align: center;
    cursor: pointer;
    
}

.account-btn:hover{
    background-color: black;
    color: #D2BA6C;
}