* {
    box-sizing: border-box;

}

table {

    display: block;
    background-color: black;
    border: 1px solid black;
}

thead {

    background-color: black;
}

tr,
td,
tbody {

    display: block;
}

tr {
    padding-bottom: 10px;
    color: white;


}

td {
    padding: 10px 10px 0;
    text-align: center;
}

td:before {
    content: attr(data-title);
    color: #7a91aa;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding-right: 10px;
    display: block;

}

table {
    width: 100%;
}

th {
    text-align: left;
    color: white;
    font-weight: 700;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;

    color: #FFFFFF;

}

thead th {
    background-color: black;
    color: #fff;
    border: 1px solid black;
}


.button {
    line-height: 1;
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    padding: 8px 25px;
    background: #D2BA6C;
    border-radius: 3px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}

tbody {
    color: black;
    background-color: white;
}

tr {
    background-color: white;
}

td {
    color: black;
    border: none;
    cursor: pointer;
    background-color: white;
}

.select {
    padding-bottom: 20px;

}

/* width */
::-webkit-scrollbar {
    width: 4px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: black;

}



main {
    height: 76vh;
    overflow-y: scroll;
    margin: 30px;
}

.akt-main table thead tr{
    position: sticky;
    top: 0;
    /* width: 100%;
    left: 0; */
    width: 100%;
}

.buyurtma-completed{
    background-color: rgb(137, 213, 147);
    padding: 3px 21px;
    border-radius: 4px;
    
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.buyurtma-uncompleted{
    padding: 3px 10px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    background-color: rgb(234, 44, 44);

}


 





.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.modalTable-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 0px 5px 20px black;
}

.modalTable-title, .modalTable-text, .modalTable-olchov, .modalTable-cost, .modalTable-count{
    font-size: 20px;

}
.modal{
    min-height: 100px;
    /* background-color: red; */
}
.table-modal{
    position: relative;
}
.modalClose-btn{
    position: absolute;
    top: 0%;
    left: 100%;
}


@media (min-width: 280px) {
    table {
        display: table;
    }

    tr {
        display: table-row;
    }

    button {
        padding: 2px 4px;
        font-size: 8px;
        font-weight: 100;

    }



    tbody {
        display: table-row-group;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }


    td:before {
        display: none;
    }

    tfoot th {
        display: table-cell;
    }

    .select {
        padding: 4px;
    }


    body .main td,
    body .main th {
        display: table-cell;
        font-size: 6px;
        padding: 1px;
        font-weight: 300;

    }

    body .main .select button {
        padding:  1px;
        font-weight: 100;
        font-size: 9px;
    }


    .switch {
        width: 22px;
        height: 14px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        left: 4px;
        bottom: 2.5px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider:before {
        transform: translateX(6px);
    }


}

@media (min-width: 420px) {
    table {
        display: table;
    }

    tr {
        display: table-row;
    }

    main table tbody .select button {
        padding: 4px 3px;
    }

    body .main td,
    body .main th {
        display: table-cell;
        font-size: 10px;
    }

    tbody {
        display: table-row-group;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }

    td:before {
        display: none;
    }

    .main td,
    .main th {
        padding: 6px;
    }

    tfoot th {
        display: table-cell;
    }

    .select {
        padding: 10px;
    }

    
    .switch {
        width: 32px;
        height: 18px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 15px;
        left: 4px;
        bottom: 2.5px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider:before {

        transform: translateX(10px);
    }

}

@media (min-width: 520px) {



    body .main td,
    body .main th {
        display: table-cell;
        font-size: 14px;
    }

    tbody {
        display: table-row-group;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }


    td:before {
        display: none;
    }




    tfoot th {
        display: table-cell;
    }

    body .main .select button {
        padding: 5px;
    }

    .select {
        padding: 10px;
    }
    .switch {
        width: 32px;
        height: 18px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 15px;
        left: 4px;
        bottom: 2.5px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider:before {

        transform: translateX(10px);
    }
}

@media (min-width: 630px) {
    table {
        display: table;
    }

    tr {
        display: table-row;
    }

    body .main td,
    body .main th {
        display: table-cell;
        font-size: 16px;
    }

    tbody {
        display: table-row-group;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }


    td:before {
        display: none;
    }

    td,
    th {
        padding: 10px;
    }


    body .main .select button {
        padding: 5px 8px;

    }

    tfoot th {
        display: table-cell;
    }

    .select {
        padding: 10px;
    }

    .switch {
        width: 40px;
        height: 22px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 17px;
        width: 20px;
        left: 4px;
        bottom: 2.5px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider:before {

        transform: translateX(12px);
    }
}

@media (min-width: 720px) {
    table {
        display: table;
    }

    body .main .select button {
        padding: 12px;
    }

    tr {
        display: table-row;
    }

    body .main td,
    body .main th {
        display: table-cell;
        font-size: 18px;
    }

    tbody {
        display: table-row-group;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }


    td:before {
        display: none;
    }

    body .main td,
    body .main th {
        padding: 5px;
        font-size: 15px;
        text-align: center;
    }



    tfoot th {
        display: table-cell;
    }

    .select {
        padding: 10px;
    }

    body .main .select button {

        line-height: 1;
        display: inline-block;
        font-size: 1.2rem;
        text-decoration: none;
        border-radius: 5px;
        color: #fff;
        padding: 8px 25px;
        background: #D2BA6C;
        border-radius: 3px;
        border: none;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 12px;
    }


}



@media (min-width: 920px) {
    table {
        display: table;
    }

    body .main .select button {
        padding: 12px;
    }

    tr {
        display: table-row;
    }

    body .main td,
    body .main th {
        display: table-cell;
        font-size: 18px;
    }

    tbody {
        display: table-row-group;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }


    td:before {
        display: none;
    }

    body .main td,
    body .main th {
        padding: 6px;
        text-align: center;
    }



    tfoot th {
        display: table-cell;
    }

    .select {
        padding: 10px;
    }

    body .main .select button {

        line-height: 1;
        display: inline-block;
        font-size: 1.2rem;
        text-decoration: none;
        border-radius: 5px;
        color: #fff;
        padding: 8px 25px;
        background: #D2BA6C;
        border-radius: 3px;
        border: none;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 12px;
    }

   
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



}



.buyurtmalar-main table thead tr{
    position: sticky;
    top: 0;
    /* width: 100%;
    left: 0; */
    width: 100%;
}