.akt {
    background-color: white;
    
}

.akt-top {
    width: 600px;
    margin: 30px;
}

.akt-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.akt-input {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    outline: none;
    border-radius: 10px;
    padding: 5px 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
margin: 0px 15px;
    color: #000000;


}

.akt-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    background: #D2BA6C;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    padding: 6px 32px;
    cursor: pointer;
    transition: 0.5px;
}

.akt-btn {
    width: 35%;
      background-color: rgb(207, 160, 4);
      color: #fff;
      outline: none;
      border: none;
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding: 6px 00px;
    background: linear-gradient(90deg,#e0b942 0,#000);
    
    /* margin: 0 auto; */
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
  
  .akt-btn span {
    position: relative; 
    z-index: 1;
  }
  
  .akt-btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 197%;
    background-color: black;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transform: translateX(-80%) translateY(-25%) rotate(45deg);
  }
  
  .akt-btn:hover:after {
    transform: translateX(0%) translateY(-25%) ;
  }
  
   
   

/* 
.akt-input:nth-child(1){
    position: relative;
} */

/* .akt-text{
    position: absolute;
    top: 15%;
    left: 20%;
    background-color: white;
    color: black;
    padding: 6px 45px;
    
} */
@media(max-width:700px){
  .akt  .akt-top{
        width: 550px;
        
    }
   .akt .akt-input, .akt .akt-btn{
        font-size: 15px;
        padding: 5px 10px;
    }
}

@media(max-width:560px){
    .akt .akt-top{
        width: 400px;
    }
}

@media(max-width:420px){
    .akt .akt-top{
        width: 300px;
    }
    .akt .akt-input, .akt .akt-btn{
        font-size: 12px;
        padding: 2px 7px;
    }
}
@media(max-width:320px){
    .akt .akt-top{
        width: 100%;
    }
    .akt .akt-form{
        flex-wrap: wrap;
        justify-content: center;

    }
    .akt .akt-btn{
        margin-top: 10px;
        padding: 5px 20px;
    }
}

