.mahsulotlar-bottom {
    margin: 20px 30px;
    padding: 10px 35px;
    padding-left: 59px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 11px;

}

.mahsulotlar-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.mahsulotlar-title {
    padding: 10px 0;
    font-weight: 600;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.mahsulotlar-form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.mahsulotlar-form input {
    padding: 4px 6px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    width: 340px;
    border-radius: 8px;
}

.mahsulotlar-form textarea {

    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 18px;
    padding: 4px 6px;
    width: 340px;
    height: 96px;
}

.mahsulotlar-box {
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    line-height: 200%;
    height: 145px;
    width: 483px;
}

.mahsulotlar-btn {
    border-radius: 6px;
    background-color: #D2BA6C;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.01em;

    color: white;
    padding: 10px 35px;
    border: none;
}



@media(max-width:1160px) {

    .mahsulotlar-form input,
    .mahsulotlar-form textarea,
    .mahsulotlar-box {
        width: 250px;
    }

}

@media(max-width:1020px) {

    .mahsulotlar-form input,
    .mahsulotlar-form textarea,
    .mahsulotlar-box {
        width: 225px;
    }

    .mahsulotlar-bottom {
        padding: 10px;
    }
}

@media(max-width:920px) {

    .mahsulotlar-form input,
    .mahsulotlar-form textarea,
    .mahsulotlar-box {
        width: 200px;
    }
}

@media(max-width:820px) {}

@media(max-width:720px) {

    .mahsulotlar-form input,
    .mahsulotlar-form textarea,
    .mahsulotlar-box {
        width: 175px;
    }

    .mahsulotlar-btn {
        padding: 8px 18px;
    }

}

@media(max-width:620px) {
    .mahsulotlar-form {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mahsulotlar-form input,
    .mahsulotlar-form textarea,
    .mahsulotlar-box {
        width: 425px;
    }

    .mahsulotlar-btn {
        padding: 8px 38px;
        margin-top: 20px;
    }

    .mahsulotlar-bottom textarea {
        margin: 15px 0;
    }
}

@media(max-width:520px) {

    .mahsulotlar-form input,
    .mahsulotlar-form textarea,
    .mahsulotlar-box {
        width: 325px;
    }

    .mahsulotlar-btn {
        padding: 8px 38px;
        margin-top: 20px;
    }

    .mahsulotlar-bottom textarea {
        margin: 15px 0;
    }
    
}

@media(max-width:420px) {

    .mahsulotlar-form input,
    .mahsulotlar-form textarea,
    .mahsulotlar-box {
        width: 225px;
    }

    .mahsulotlar-btn {
        padding: 8px 38px;
        margin-top: 20px;
    }

    .mahsulotlar-bottom textarea {
        margin: 15px 0;
    }
}

@media(max-width:320px) {

    .mahsulotlar-form input,
    .mahsulotlar-form textarea,
    .mahsulotlar-box {
        width: 100%
    }

    .mahsulotlar-btn {
        padding: 8px 28px;
        margin-top: 20px;
    }

    .mahsulotlar-bottom textarea {
        margin: 15px 0;
    }
}